<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center align-items-center text-center">
        <div class="col-6">
            <h3>
                FEATURES
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam neque similique sit.
            </p>
        </div>
    </div>
    <div class="row mt-3 d-flex justify-content-center align-items-center text-center">
        <div class="col-10 col-lg-3 col-md-3">
            <div class="card">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-0-circle" viewBox="0 0 16 16">
                        <path
                            d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99ZM8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z" />
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
                    </svg>
                    <h3>Lorem ipsum dolor
                        sit amet.</h3>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam neque similique sit.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-10 col-lg-3 col-md-3">
            <div class="card">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-0-circle" viewBox="0 0 16 16">
                        <path
                            d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99ZM8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z" />
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
                    </svg>
                    <h3>Lorem ipsum dolor
                        sit amet.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam neque similique sit.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-10 col-lg-3 col-md-3">
            <div class="card">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-0-circle" viewBox="0 0 16 16">
                        <path
                            d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99ZM8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z" />
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z" />
                    </svg>
                    <h3>Lorem ipsum dolor
                        sit amet.</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
        </div>
    </div>
</div>