<div class="container mt-5 p-5">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12">
            <img src="../../assets/left-container.png" height="100%" width="100%" alt="">
        </div>
        <div class="col-12 col-lg-6 col-md-12">
            <h3>lorem lorem lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laboriosam quidem nesciunt molestiae
                enim, sed nemo delectus illo illum voluptate expedita dolorem ea, quam quis debitis harum laudantium
                odit recusandae.</p>
            <a class="btn btn-primary" href="#"> Visit for free</a>
        </div>
    </div>
</div>