<div class="conatiner ">
    <div class="row d-flex justify-content-center text-center text-light ">
        <div class="col-12 mt-5">
            <div>
                <h1>The best products <br>
                    start with an idea</h1>
                <h4>
                    Lorem ipsum dolor sit amet consectetur. <br> Vitae donec varius placerat sed auctor enim
                    feugiat.
                </h4>
            </div>
            <div class="mt-5">
                <button class="btn btn-primary rounded ">Try For Free</button>
            </div>


        </div>

    </div>
</div>