<div class="container mt-5 p-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <h3>lorem lorem lore lorem ipsum </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, explicabo. Accusantium dolore
                consectetur quae, consequuntur iusto ut quisquam autem necessitatibus. Porro ratione veniam eum
                laudantium atque voluptas ea dolores quisquam?</p>
            <a type="button " class="btn btn-primary"> try for free</a>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <img src="../../assets/framepc.png" height="100%" width="100%" alt="">
        </div>
    </div>
</div>